<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Conformance">
            <directory>tests/Conformance</directory>
        </testsuite>
        <testsuite name="JsonApiStatus">
            <directory>tests/JsonApiStatus</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- PostgreSQL -->
        <env name="DATABASE_URL_POSTGRES" value="postgresql://jsonapi:secret@localhost:5432/jsonapi_test?serverVersion=16&amp;charset=utf8"/>

        <!-- MySQL -->
        <env name="DATABASE_URL_MYSQL" value="mysql://jsonapi:secret@localhost:3306/jsonapi_test?serverVersion=8.0"/>

        <!-- MariaDB -->
        <env name="DATABASE_URL_MARIADB" value="mysql://jsonapi:secret@localhost:3307/jsonapi_test?serverVersion=mariadb-11.0.0"/>

        <!-- SQLite -->
        <env name="DATABASE_URL_SQLITE" value="sqlite:///:memory:"/>
    </php>
</phpunit>
